/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  background-color: #24252A;
  min-height: 8vh;
}

header .navbar .logo {
  margin-left: 15px;
}

header .navbar .logo h1 {
  color: #edf0f1;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

header .navbar .logo h1:hover {
  color: #0088a9;
}

header .navbar .nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 45%;
}

header .navbar .nav__links .nav__itens a {
  color: #edf0f1;
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

header .navbar .nav__links .nav__itens a.active,a:hover {
  color: #0088a9;
}

header .navbar .burguer {
  display: none;
  cursor: pointer;
}

header .navbar .burguer div{
  width: 25px;
  height: 3px;
  background-color: #edf0f1;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (min-width: 1024px) {
  header .navbar .nav__links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  header .navbar .nav__links {
    position: absolute;
    background-color: #24252A;
    right: 0px; 
    height: 92vh;
    top: 8vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 60%;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    -o-transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }

  header .navbar .nav__links .nav__itens {
    opacity: 0;
  }

  header .navbar .burguer {
    display: block;
  }
}

header .navbar .nav-active {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .burguer__line1 {
  -webkit-transform: rotate(-45deg) translate(-5px,6px);
      -ms-transform: rotate(-45deg) translate(-5px,6px);
          transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .burguer__line2 {
  opacity: 0;
}

.toggle .burguer__line3 {
  -webkit-transform: rotate(45deg) translate(-5px,-6px);
      -ms-transform: rotate(45deg) translate(-5px,-6px);
          transform: rotate(45deg) translate(-5px,-6px);
}