* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  src: url(../fonts/OpenSans-Regular.ttf);
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: "Open Sans";
  color: #5f6368;
}

header {
  background-color: #ffffff;
  width: 100%;
  height: 80px;
  position: sticky;
  z-index: 1;
  top: 0;
}

header .logo {
  display: inline-block;
  padding-left: 20px;
}

header .logo img {
  width: 100px;
  height: auto;
  padding-top: 15px;
}

header .logo h1 {
  font-weight: 100;
  letter-spacing: 0px;
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 80px;
  color: #0891c9;
}

header .burguer {
  margin: 26px;
  display: inline-block;
  position: absolute;
  right: 0;
}

header .burguer div{
  width: 25px;
  height: 2px;
  background-color: #0891c9;
  margin: 5px;
  transition: all 0.6s ease;
}

header .menu {
  margin-left: -100%;
  transition: all 0.6s;
}

header .menu-active {
  margin-left: 0;
}

header .menu .navbar {
  display: block;
  position: absolute;
  top: 80px;
  background-color: #ffffff;
  width: 100%;
  text-align: center;
  z-index: 1;
  box-shadow: 0 2px 2px #f1f1f1;
}

header .menu .navbar ul {
  position: relative;
}

header .menu .navbar ul li {
  margin: 5px 0;
  width: 100%;
  opacity: 0;
}

header .menu .navbar ul li a {
  display: block;
  font-family: "Open Sans";
  padding: 10px 0;
  color: #0891c9;
}

/* header .menu .navbar ul ul {
  background-color: #cccccc;
  position: static;
  overflow: hidden;
  visibility: hidden;
  max-height: 0;
  transition: all 0.8s;
}

header .menu .navbar ul ul li {
  opacity: 1;
}

header .menu .navbar ul ul li a {
  font-weight: bold;
} */

header .menu .navbar ul li:hover ul {
  height: auto;
  max-height: 375px;
  visibility: visible;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .burguer__line1 {
  transform: rotate(-45deg) translate(-4px,6px);
}

.toggle .burguer__line2 {
  opacity: 0;
}

.toggle .burguer__line3 {
  transform: rotate(45deg) translate(-4px,-6px);
}

main {
  height: 100%;
}

.container {
  width: 100%;
  padding: 0 20px;
}

main .title-section {
  font-size: 1.6rem;
  font-weight: 100;
  color: #606060;
  text-transform: uppercase;
  padding: 50px 0px;
  text-align: center;
}

/* main .title-section::after {
  content: "";
  width: 150px;
  height: 3px;
  background-color: #0891c9;
  background-image: linear-gradient(to right, #0891c9 , #ffffff);
  display: block;
  margin-top: 8px;
} */

main .section-hero {
  max-height: 420px;
}

main .section-hero .section-hero__itens img {
  height: 420px;
  object-fit: cover;
  filter: brightness(60%);
}

main .section-hero .section-hero__text {
  position: absolute;
  width: 100%;
  top: 220px;
  text-align: center;
  padding: 0 30px;
}

main .section-hero .section-hero__text h2 {
  display: block;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 60px;
  text-transform: uppercase;
  opacity: 0.8;
}

main .section-hero .section-hero__text a {
  display: block;
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
  padding: 10px;
  border: 2px solid #0891c9;
  border-radius: 40px;
  margin: 0 80px;
}

main .section-services .services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-right: 25px;
  margin-left: 25px;
}

main .section-services .services-description {
  text-align: justify;
}

main .section-services .services .services-item {
  text-align: center;
  padding: 20px 0;
  border: 1px solid #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 6px #cccccc;
  margin-bottom: 35px;
}


main .section-services .services .services-item h3 {
  font-weight: 800;
  font-size: 1.4rem;
  padding: 15px 25px;
  text-transform: uppercase;
}

main .section-services .services .services-item img {
  height: 180px;
  width: 100%;
  padding: 10px 20px;
}

main .section-contact {
  background-color: #f5f5f5;
  padding-bottom: 50px;
}

main .section-contact .contact-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #34af23;
  margin: 0 50px;
  border-radius: 25px;
}

main .section-contact .contact-btn span {
  padding: 10px;
}

main .section-contact .contact-btn span svg {
  fill: #ffffff;
}

main .section-contact .contact-btn p {
  padding: 10px 0;
  padding-right: 10px;
  color: #ffffff;
  font-weight: 800;
  text-transform: uppercase;
}

main .section-about {
  height: 520px;
  overflow: hidden;
}

main .section-about .container p {
  text-align: justify;
  padding-top: 10px;
  color: #5f6368;
  font-size: 1.1rem;
}

footer {
  background-color: #0891c9;
  color: #ffffff;
}

footer .footer-itens .footer-contact h2 {
  color: #ffffff;
  padding-top: 40px;
  font-size: 1.3rem;
  text-transform: uppercase;
}

footer h3 {
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.1rem;
}

footer ul li > h4 {
  color: #ffffff;
  font-weight: 100;
  padding-top: 4px;
  font-size: 1rem;
}

footer .social svg {
  fill: #ffffff;
  height: 30px;
  width: 30px;
  margin-right: 20px;
  margin-bottom: 20px;
}

footer .footer-contact .footer-contact-item {
  display: flex;
  align-items: center;
}

footer .footer-contact .footer-contact-item svg {
  fill: #ffffff;
  height: 24px;
  width: 24px;
  margin-right: 15px;
}

footer .footer-contact .footer-contact-item p {
  color: #ffffff;
  font-size: 1rem;
}

@media (min-width: 768px) {
  /* Seção header */
  header {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  header .burguer {
    display: none;
  }

  header .menu {
    margin: 0;
    display: inline-block;
  }

  header .menu .navbar {
    display: inline-block;
    top: 0;
    width: auto;
    background-color: transparent;
    box-shadow: none;
    z-index: 0;
    position: relative;
  }

  header .menu .navbar ul {
    display: flex;
  }

  header .menu .navbar ul li {
    opacity: 1;
    margin: 0;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
  }

  header .menu .navbar ul li:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #0891c9;
    transition: width .6s;
  }

  header .menu .navbar ul li:hover:after {
    width: 100%;
  }
  /* Seção hero */

  /* Seção Services */
  .container {
    padding: 0 10%;
  }

  main .section-services .services {
    flex-direction: row;
    flex-wrap: wrap;
  }

  main .section-services .services-description {
    text-align: center;
  }

  main .section-services .services .services-item {
    height: 380px;
    width: 360px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
  }

  main .section-contact .contact-btn {
    width: 400px;
    margin: 0 auto;
  }

  /* Seção About us */
  main .section-about {
    height: 350px;
  }

  main .section-about .container p {
    text-align: center;
  }

  /* Footer */

  footer {
    height: 420px;
  }

  footer p {
    color: #ffffff;
  }

  footer .footer-itens {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }

  footer .footer-itens .footer-contact h2 {
    padding-top: 20px;
  }
}