* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

@font-face {
  font-family: "Quicksand";
  font-display: swap;
  src: url(../fonts/Quicksand-Regular.ttf);
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url(../fonts/Montserrat-Regular.ttf);
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: "Quicksand";
  color: #5f6368;
}

header {
  background-color: #eeeeee;
  width: 100%;
  height: 64px;
  position: sticky;
  z-index: 1;
  top: 0;
}

header .logo {
  display: inline-block;
  padding-left: 20px;
  padding-right: 100px;
}

header .logo h1 {
  font-weight: 100;
  letter-spacing: 0px;
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 64px;
  color: #4285f4;
}

header .burguer {
  margin: 20px;
  display: inline-block;
  position: absolute;
}

header .burguer div{
  width: 25px;
  height: 2px;
  background-color: #4285f4;
  margin: 5px;
  transition: all 0.6s ease;
}

header .menu {
  margin-left: -100%;
  transition: all 0.6s;
}

header .menu-active {
  margin-left: 0;
}

header .menu .navbar {
  display: block;
  position: absolute;
  top: 64px;
  background-color: #eeeeee;
  width: 100%;
  text-align: center;
  z-index: 1;
}

header .menu .navbar ul {
  position: relative;
}

header .menu .navbar ul li {
  margin: 5px 0;
  width: 100%;
  opacity: 0;
}

header .menu .navbar ul li a {
  display: block;
  font-family: "Montserrat";
  padding: 10px 0;
}

header .menu .navbar ul ul {
  background-color: #c5dbff;
  position: static;
  overflow: hidden;
  visibility: hidden;
  max-height: 0;
  transition: all 0.8s;
}

header .menu .navbar ul ul li {
  opacity: 1;
}

header .menu .navbar ul ul li a {
  font-weight: bold;
}

header .menu .navbar ul li:hover ul {
  height: auto;
  max-height: 375px;
  visibility: visible;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .burguer__line1 {
  transform: rotate(-45deg) translate(-4px,6px);
}

.toggle .burguer__line2 {
  opacity: 0;
}

.toggle .burguer__line3 {
  transform: rotate(45deg) translate(-4px,-6px);
}

main {
  height: 100%;
}

main .section-hero {
  max-height: 320px;
}

main .section-hero .section-hero__itens img {
  height: 320px;
  object-fit: cover;
  filter: brightness(80%);
}

main .section-hero .section-hero__itens div p {
  position: absolute;
  top: 0;
  color: #ffffff;
  text-align: center;
  width: 100%;
  padding-top: 120px;
  font-size: 3.5rem;
  font-weight: bold;
  opacity: 0.4;
}

main .section-about .container {
  height: 350px;
  width: 100%;
  overflow: hidden;
  padding: 0 20px;
}

main .section-about .container h2 {
  font-size: 1.25rem;
  font-weight: 100;
  color: #4285f4;
  text-transform: uppercase;
  text-align: center;
  padding: 25px 0px;
}

main .section-about .container p {
  text-align: justify;
  padding-bottom: 15px;
  color: #5f6368;
  font-size: 1.1rem;
}