* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  src: url(../fonts/OpenSans-Regular.ttf);
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: "Open Sans";
  color: #5f6368;
}

header {
  background-color: #ffffff;
  width: 100%;
  height: 80px;
  position: sticky;
  z-index: 1;
  top: 0;
}

header .logo {
  display: inline-block;
  padding-left: 20px;
}

header .logo img {
  width: 100px;
  height: auto;
  padding-top: 15px;
}

header .logo h1 {
  font-weight: 100;
  letter-spacing: 0px;
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 80px;
  color: #0891c9;
}

header .burguer {
  margin: 26px;
  display: inline-block;
  position: absolute;
  right: 0;
}

header .burguer div{
  width: 25px;
  height: 2px;
  background-color: #0891c9;
  margin: 5px;
  transition: all 0.6s ease;
}

header .menu {
  margin-left: -100%;
  transition: all 0.6s;
}

header .menu-active {
  margin-left: 0;
}

header .menu .navbar {
  display: block;
  position: absolute;
  top: 80px;
  background-color: #ffffff;
  width: 100%;
  text-align: center;
  z-index: 1;
  box-shadow: 0 2px 2px #f1f1f1;
}

header .menu .navbar ul {
  position: relative;
}

header .menu .navbar ul li {
  margin: 5px 0;
  width: 100%;
  opacity: 0;
}

header .menu .navbar ul li a {
  display: block;
  font-family: "Open Sans";
  padding: 10px 0;
  color: #0891c9;
}

/* header .menu .navbar ul ul {
  background-color: #cccccc;
  position: static;
  overflow: hidden;
  visibility: hidden;
  max-height: 0;
  transition: all 0.8s;
}

header .menu .navbar ul ul li {
  opacity: 1;
}

header .menu .navbar ul ul li a {
  font-weight: bold;
} */

header .menu .navbar ul li:hover ul {
  height: auto;
  max-height: 375px;
  visibility: visible;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .burguer__line1 {
  transform: rotate(-45deg) translate(-4px,6px);
}

.toggle .burguer__line2 {
  opacity: 0;
}

.toggle .burguer__line3 {
  transform: rotate(45deg) translate(-4px,-6px);
}

main {
  height: 100%;
}

main .container {
  width: 100%;
  padding: 0 20px;
}

main .title-section {
  font-size: 1.6rem;
  font-weight: 100;
  color: #606060;
  text-transform: uppercase;
  padding: 50px 0px;
  text-align: center;
}

/* main .title-section::after {
  content: "";
  width: 150px;
  height: 3px;
  background-color: #0891c9;
  background-image: linear-gradient(to right, #0891c9 , #ffffff);
  display: block;
  margin-top: 8px;
} */

main .section-hero {
  max-height: 420px;
}

main .section-hero .section-hero__itens img {
  height: 420px;
  object-fit: cover;
  filter: brightness(60%);
}

main .section-hero .section-hero__text {
  position: absolute;
  width: 100%;
  top: 220px;
  text-align: center;
  padding: 0 30px;
}

main .section-hero .section-hero__text h2 {
  display: block;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 60px;
  text-transform: uppercase;
  opacity: 0.8;
}

main .section-hero .section-hero__text a {
  display: block;
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
  padding: 10px;
  border: 2px solid #0891c9;
  border-radius: 40px;
  margin: 0 80px;
}

main .section-about {
  height: 520px;
  overflow: hidden;
  background-color: #fbfbfb;
}

main .section-about .container p {
  text-align: justify;
  padding-top: 10px;
  color: #5f6368;
  font-size: 1.1rem;
}

main .section-services .services {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 25px;
}

main .section-services .services .services-item {
  text-align: center;
  padding: 20px 0;
  border: 1px solid #ffffff;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 6px #cccccc;
  margin-bottom: 35px;
}


main .section-services .services .services-item h3 {
  font-weight: 800;
  font-size: 1.4rem;
  padding: 15px 25px;
  text-transform: uppercase;
}

main .section-services .services .services-item img {
  height: 180px;
  width: 100%;
  padding: 10px 20px;
}